doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title BIPUME Students

    link(rel='shortcut icon', href='/images/bipume.jpg', type='image/png')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Raleway:100,600")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300")
    include _style


  body
    include _header.pug

    section#team.team.content-section
      .container
        .row.text-center
          .col-md-12
            h1.bipume_header BIPUME STUDENTS
            h1.caption.gray.bipume_header Meet BIPUME STUDENTS
        .row
          each user in results.result
            .col-md-4.primary
              figure
                img.img-responsive(src="/images/default.jpg", alt= user.fullName)

              
                     
                p.bipume_secondary=`Full Name: ${user.fullName}`
                p.bipume_secondary=`Email Address: ${user.activeEmail}`
                p.bipume_secondary=`Desired JAMB Score: ${user.desireJambScore}`
                p.bipume_secondary=`Active WhatsApp Number: ${user.activeNumber}`
                p.bipume_secondary=`On BIPUME Group?: ${user.onBipume}`
                p.bipume_secondary=`Would You Like to Join BIPUME Group?: ${user.joinBipume}`
      div.pagination
        if results.previous && results.next
            a.prev(href=`/?page=${results.previous.page}&limit=${results.previous.limit}`) Previous
            a.next(href=`/?page=${results.next.page}&limit=${results.next.limit}`) Next
        else if results.totalPages
            a(href=`/?page=${results.totalPages}&limit=10`).prev.disabled Previous
            a(href="/?page=1&limit=10").next.disabled Next
        else 
          //- a(href=`http://127.0.0.1:4000/?page=2&limit=5`).prev.disabled Previous
          a(href="/?page=1&limit=10").next.disabled Next
            
      
            
                
    include _footer.pug
